.record-mgmt {
    .ivu-table-cell {
        padding: 0px !important;
    }
}
.record-modal {
    .ivu-table {
        font-size: 12px !important;
    }
    
    .ivu-table-cell {
        padding: 0px !important;
    }
    
    .ivu-checkbox-wrapper {
        margin: 0px !important;
    }
    
    .ivu-modal-content .ivu-modal-body {
        box-sizing: border-box;
        padding: 5px 15px;
        table{
            width: 100%;
            text-align: center;
        }
    
        table td {
            line-height: 30px;
        }
    
        .ivu-table tr th {
            text-align: center;
        }
    
        .ivu-table td {
            height: 30px;
            background-color: #f8f8f9;
        }
    
        .ivu-input {
            border-color: #fff;
            border-radius: 0;
            box-sizing: border-box;
            height: 34px;
        }
    
        .tableHeade {
            border-color: #fff;
        }
    
        .tableHeade tr td {
            text-align: center;
        }
    
        select {
            width: 100%;
            border: none;
        }
    
        .ivu-select-selection {
            border: none;
            border-radius: 0;
        }
    
        .ivu-table-wrapper {
            margin-top: 8px;
        }
    
        .ivu-form-item {
            margin-bottom: 0;
        }
    
        .ivu-input-number {
            width: 100%;
            border-radius: 0;
            height: 30px;
            line-height: 30px;
            border: none;
        }
    
        .ivu-input-number-focused {
            box-shadow: none;
        }
    
        .ivu-form-item-error {
            border: 1px solid red;
        }
    
        .ivu-form-item-content {
            line-height: 30px;
        }
    }
    
    .ivu-table-body {
        min-height: 350px;
    }
    
    .ivu-table-tip table {
        min-height: 350px;
    }    
}
